{% extends 'base.html' %} {% block content %}
<main class="container py-5">
<section class="card card-body">
<h1 class="display-1 text-center">Tareas App</h1>
<p>Nuestra plataforma está diseñada para ayudarte a organizar y administrar tus
   tareas diarias de manera eficiente. Ya sea que necesites llevar un seguimiento de tus 
   responsabilidades en el trabajo, en casa o en cualquier otro ámbito de tu vida, 
   nuestra aplicación te brinda todas las herramientas necesarias para mantener tus actividades bajo control. 
   Con nuestra interfaz intuitiva y fácil de usar, podrás agregar tareas de forma rápida y sencilla. 
   Simplemente crea una cuenta, inicia sesión y estarás listo/a para comenzar. </p>

   <div class="text-center">
   <a class="btn btn-secondary" href="/signin/">Login</a>
   <a class="btn btn-dark" href="/signup/">Registrarse</a>
   </div>

</section>
</main>
{% endblock %}
